<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 定义映射关系，关联dao层被@Mapper接口  -->
<!-- namespace 是用来关联的全路径-->
<mapper namespace = "com.example.mybatis.dao.studentMapper">
<!-- id 是接口中的方法名称 -->
<!-- parameterType 方法中参数的类型，如果是引用对象 那么也必须要是全路径 ，也可以省略不写  -->
    <insert id="addStudent" parameterType="com.example.mybatis.model.students">
<!-- 定义sql语句 -->
        insert into students values(#{id},#{name},#{age},#{sec});
    </insert>
<!-- resultType 返回类型，如果实体类和数据库表的字段一致，则可以直接写引用对象的全路径   -->
    <select id="selectById" parameterType="Integer" resultType="com.example.mybatis.model.students">
        select * from students where id = #{id};
    </select>
</mapper>